.App{
    border: 1px solid black;
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.widget{
    border: 1px solid black;
    font-weight: bold;
    width:rem;    
    cursor: pointer;
    padding: 8% 8% 8% 8%;
    color: rgb(170, 28, 170);
    border-radius: 8%;
    background: linear-gradient(109.6deg, rgb(120, 212, 234) 11.2%, rgb(216, 226, 253) 72.1%);
}

.dropbox{
    border: 1px solid black;
    width: 6rem;
}

.widget {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .widgets {
    padding: 2px 16px;
    color:#ffffff;
  }